<form class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="../../images/luciano-rodas.svg" alt="Luciano Rodas" width="150" height="90">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <p>Faça o login para solicitar e visualizar o andamento dos serviços.</p>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de email" required autofocus>
    <label for="inputEmail">Endereço de email</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
    <label for="inputPassword">Senha</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="lembrar de mim"> Lembrar de mim
    </label>
  </div>
  <button class="btn btn-lg btn-dark btn-block" type="submit">Entrar</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2024</p>
</form>

